h1 {
  padding-top: 5%;
}

#header p {
  font-style: italic;
}

.content-tile {
  padding: 5%;
  margin: 5%;
  background-color: linen;
}

.card p {
  text-align: justify;
}

.elem {
  margin-top: 1em;
  margin-bottom: 1em;
}
